bin/
*.log
*.iml
data/saves/
data/characters/
damaged-playersaving.txt
savelines.txt
slowqueries.log
*.cfg
.classpath
.project
data/saves/wellofgoodwill.txt
errors/
sizehax.txt
devcommands.txt
data/smtlog.log
data/errorqueries.log
.idea/
data/characters
data/saves/logs
packet_lag
data/staff_stats/
data/sql/sql.properties
data/logs/
data/shophistory/
data/backup/auction
data/backup/char
/target/
